.zf-emoji-picker > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.zf-emoji-picker > ul li {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.zf-color-picker > ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.zf-color-picker > ul li {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.3s;
}

.zf-color-picker > ul li:hover,
.zf-color-picker > ul li.selected {
    transform: scale(1.5);
}
